.reset-styles h2{
    font-size: 18px;
    font-weight: 700;
}

.reset-styles p{
    font-size: 14px;
    font-weight: 300;
}
.reset-styles li{
    padding-left:0 ;
    font-size: 14px;
    font-weight: 300;
    list-style: disc;
}